<div id="posts_wrap">
    <% @posts.each do |post| %>
        <%= link_to post do %>
            <div class="post_unit">
                <%= image_tag(post.image.url(:medium)) %>
                <div class="thumb_overlay">
                    <p class="title"><%= post.title %></p>
                    <p class="content"><%= truncate(post.content, length: 100) %></p>
                </div>            
            </div>
        <% end %>
    <% end %>
</div>